<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="icon" href="<%= BASE_URL %>favicon.png"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but
                <%= htmlWebpackPlugin.options.title %>
                doesn't
                                work properly without JavaScript enabled. Please enable it to
                                continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjnp6F0ASt08AoDqraSCTEWp-6b5HE7to&libraries=places"></script>
    </body>
</html>
