<template>
  <div>
    <div class="d-flex">
      <div class="white admin-new">
        <Menu />
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "@/components/Menu.vue";

export default {
  name: "AdminDashboard",
  components: {
    Menu
  }
};
</script>
<style lang="scss">
.admin-new {
  width: 100%;
  height: 100vh;
}
</style>
