<template>
  <div>
    <PlatformAdminMenu />
    <PlatformAdminMobileMenu />
    <AdminRiderTable />
  </div>
</template>

<script>
import PlatformAdminMenu from "@/components/PlatformAdminMenu.vue";
import PlatformAdminMobileMenu from "@/components/PlatformAdminMobileMenu.vue";
import AdminRiderTable from "@/components/AdminRiderTable.vue";
export default {
  name: "AdminPanelRiders",
  components: {
    PlatformAdminMobileMenu,
    PlatformAdminMenu,
    AdminRiderTable
  }
};
</script>
