<template>
  <div>
    <PlatformAdminMenu />
    <PlatformAdminMobileMenu />
    <AdminHospitalTable v-if="adminRoleButtons === 'hospital'" />
    <AdminPoliceTable v-else-if="adminRoleButtons === 'police'" />
  </div>
</template>

<script>
import PlatformAdminMenu from "@/components/PlatformAdminMenu.vue";
import PlatformAdminMobileMenu from "@/components/PlatformAdminMobileMenu.vue";
import AdminHospitalTable from "@/components/AdminHospitalTable.vue";
import AdminPoliceTable from "@/components/AdminPoliceTable.vue";
export default {
  name: "AdminPanelAdmins",
  computed: {
    adminRoleButtons() {
      return this.$store.state.adminRoleButtons;
    }
  },
  components: {
    PlatformAdminMobileMenu,
    PlatformAdminMenu,
    AdminHospitalTable,
    AdminPoliceTable
  }
};
</script>
