<template>
  <v-container class="login" fluid fill-height>
    <v-row align="center">
      <v-col cols="12" md="6">
        <v-row align="center" justify="center">
          <v-icon color="red" size="100">mdi-alert</v-icon>
        </v-row>
        <v-row align="center" justify="center">
          <v-col>
            <h1 class="display-3 text-center" max-width="70%">
              Crash Detection Panel
            </h1>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="6">
        <LoginForm />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LoginForm from "@/components/LoginForm.vue";

export default {
  name: "Login",
  components: {
    LoginForm
  }
};
</script>

<style>
.login {
  background: linear-gradient(
      rgba(0, 0, 0, 0.7) 50%,
      rgba(1, 1, 1, 0.7) 50% 100%
    ),
    url("~@/assets/img/ambulance.jpg");
  background-size: cover;
}
h1 {
  color: white;
}
</style>
