<template>
  <v-row align="center" justify="center">
    <span class="grey--text display-1 emptyPane text-center">
      <v-icon large color="orange darken-1">mdi-power-plug-off</v-icon>&nbsp;
      This page has no power here!
      <br />
      <span class="title">
        Return to previous page
        <span
          class="blue--text darken-2"
          style="cursor: pointer"
          @click="returnToApp"
          >here</span
        >
      </span>
    </span>
  </v-row>
</template>

<script>
export default {
  name: "PageNotFound",
  methods: {
    returnToApp() {
      this.$router.go(-1);
    }
  }
};
</script>

<style>
.emptyPane {
  margin-top: 40vh;
}
</style>
