<template>
  <ResetPassword />
</template>
<script>
import ResetPassword from "@/components/ResetPassword.vue";
export default {
  name: "reset-password-page",
  components: {
    ResetPassword
  }
};
</script>
