<template>
  <div>
    <RiderMenu />
    <RiderCrashes />
  </div>
</template>

<script>
import RiderMenu from "@/components/RiderMenu.vue";
import RiderCrashes from "@/components/RiderCrashes.vue";
export default {
  name: "RiderDashboard",
  components: {
    RiderMenu,
    RiderCrashes
  }
};
</script>
