<template>
  <div class="px-sm-12">
    <v-row class="px-5 px-sm-3 py-3" justify="space-between" align="center">
      <span v-if="role === 'HospitalAdmin'" class="pl-3 headline py-sm-2"
        >Accepted Alerts</span
      >
      <span v-else-if="role === 'PoliceAdmin'" class="pl-3 headline py-sm-2"
        >Reported Crashes</span
      >
    </v-row>
    <Alert />
  </div>
</template>

<script>
import Alert from "@/components/Alert.vue";
export default {
  name: "acceptedAlerts",
  data() {
    return {
      role: null
    };
  },
  mounted() {
    this.role = localStorage.getItem("role");
  },
  components: {
    Alert
  }
};
</script>
<style>
.space-between {
  padding-bottom: 0.5rem;
}
</style>
