<template>
  <v-card color="blue" class="ma-2">
    <v-card-title>
      <span class="mx-auto font-weight-bold headline white--text">Riders</span>
    </v-card-title>
    <RiderRegistration />
    <v-card-subtitle class="py-1">
      <v-row align="center" justify="center">
        <v-col cols="9">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            color="blue-grey lighten-4"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div class="text-center">
            <v-btn color="white" @click="triggerRiderRegistration(true)">
              <v-icon>mdi-plus</v-icon>
              &nbsp; &nbsp; new rider
            </v-btn>
          </div>
        </v-col>
        <v-col cols="1">
          <v-row justify="center" align="center">
            <v-col>
              <div class="text-center">
                <v-btn @click="fetchRiders" icon>
                  <v-icon>mdi-replay</v-icon>
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-subtitle>
    <v-data-table
      :headers="headers"
      :items="riders"
      :items-per-page="8"
      :search="search"
      :loading="tableLoading"
      :expanded="expanded"
      @click:row="itemClicked"
      show-expand
      loading-text="Loading riders... Please wait"
      ref="ridersTable"
      item-key="ID"
    >
      <template v-slot:no-results>
        <v-alert :value="true" color="error" icon="mdi-exclamation-thick" dark
          >Your search for "{{ search }}" found no results.</v-alert
        >
      </template>
      <template v-slot:[getItemName]="{ item }">
        <span class="text-capitalize">
          {{ item.firstname }} {{ item.lastname }}
        </span>
      </template>
      <template v-slot:[getItemNextOfKin]="{ item }">
        <span class="text-capitalize">
          {{ item.next_Of_kin_Name }} ({{ item.next_Of_kin_Contact }})
        </span>
      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          <v-row>
            <v-col cols="12" v-for="crash in item.Crashes" :key="crash.id">
              <v-row>
                <v-col>{{ crash.crashPlaceName }}</v-col>
                <v-col
                  ><a
                    :href="
                      `https://www.google.com/maps/search/?api=1&query=${crash.crashLatitude},${crash.crashLongitude}`
                    "
                    role="button"
                    target="_blank"
                  >
                    <v-icon color="#022F40" large>mdi-map-marker</v-icon>
                  </a></v-col
                >
                <v-col>{{ new Date(crash.timestamp) }}</v-col>
              </v-row>
            </v-col>
          </v-row>
        </td>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import RiderRegistration from "@/components/RiderRegistration.vue";
export default {
  name: "admin-riders-table",
  data() {
    return {
      search: "",
      expanded: [],
      headers: [
        {
          text: "NAME",
          align: "left",
          sortable: false,
          value: "firstname"
        },
        {
          text: "EMAIL",
          value: "email"
        },
        {
          text: "NUMBER OF CRASHES",
          value: "Crashes.length"
        },
        { text: "NEXT OF KIN", value: "next_Of_kin_Name" },
        { value: "data-table-expand" }
      ]
    };
  },
  created() {
    this.$store.dispatch("FetchAllRiders");
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading;
    },
    tableLoading() {
      return this.$store.state.tableLoading;
    },
    riders() {
      return this.$store.state.riders;
    },
    getItemName() {
      return `item.firstname`;
    },
    getItemNextOfKin() {
      return `item.next_Of_kin_Name`;
    }
  },
  methods: {
    fetchRiders() {
      this.$store.dispatch("FetchAllRiders");
    },
    itemClicked(value) {
      const index = this.expanded.indexOf(value);
      if (index === -1) {
        this.expanded.push(value);
      } else {
        this.expanded.splice(index, 1);
      }
    },
    triggerRiderRegistration(value) {
      this.$store.dispatch("TriggerRiderRegistration", value);
    }
  },
  components: {
    RiderRegistration
  }
};
</script>
