<template>
  <v-card color="blue" class="ma-2">
    <v-card-title>
      <span class="mx-auto font-weight-bold headline white--text"
        >Police station Administrators</span
      >
    </v-card-title>
    <v-card-subtitle class="py-1">
      <v-row>
        <v-col cols="11">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            color="blue-grey lighten-4"
          ></v-text-field>
        </v-col>
        <v-col cols="1">
          <v-row justify="center" align="center">
            <v-col>
              <div class="text-center">
                <v-btn @click="fetchAdmins" icon>
                  <v-icon>mdi-replay</v-icon>
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-subtitle>
    <v-data-table
      :headers="headers"
      :items="sortedPoliceAdmins"
      :items-per-page="8"
      :search="search"
      :loading="tableLoading"
      loading-text="Loading police station administrators... Please wait"
      ref="policeAdminsTable"
      item-key="ID"
    >
      <template v-slot:no-results>
        <v-alert :value="true" color="error" icon="mdi-exclamation-thick" dark
          >Your search for "{{ search }}" found no results.</v-alert
        >
      </template>
      <template v-slot:header="{ props: { headers } }">
        <thead v-show="displayActionFeedback">
          <tr>
            <th :colspan="headers.length">
              <v-alert
                color="success"
                dark
                class="text-center mt-2"
                dismissible
                >{{ adminActionFeedback }}</v-alert
              >
            </th>
          </tr>
        </thead>
      </template>
      <template v-slot:[getItemName]="{ item }">
        <span class="text-capitalize">
          {{ item.firstname }} {{ item.lastname }}
        </span>
      </template>
      <template v-slot:[getItemStatus]="{ item }">
        <span class="text-capitalize">
          {{ item.verificationStatus }}
        </span>
      </template>
      <template v-slot:[getItemAction]="{ item }">
        <v-icon
          small
          v-if="callToAction(item.verificationStatus, item.PoliceID)"
          color="red"
          >mdi-circle</v-icon
        >
      </template>
      <template v-slot:[getItemApproval]="{ item }">
        <div
          v-if="callToAction(item.verificationStatus, item.PoliceID)"
          class="text-center"
        >
          <v-btn
            :loading="isLoading"
            @click="approveAdmin(item)"
            color="success"
            >Approve</v-btn
          >
        </div>
      </template>
      <template v-slot:[getItemRejection]="{ item }">
        <div
          v-if="callToAction(item.verificationStatus, item.PoliceID)"
          class="text-center"
        >
          <v-btn :loading="isLoading" @click="rejectAdmin(item)" color="error"
            >Reject</v-btn
          >
        </div>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  name: "admin-police-table",
  data() {
    return {
      search: "",
      displayActionFeedback: false,
      defaultSortOrder: {
        Pending: 1,
        Approved: 2,
        Denied: 3
      },
      headers: [
        {
          value: "action",
          width: "1rem",
          sortable: false
        },
        {
          text: "NAME",
          align: "left",
          sortable: false,
          value: "firstname"
        },
        {
          text: "EMAIL",
          value: "email"
        },
        { text: "POLICE STATION", value: "Police.policeName" },
        { text: "RECEIVED ALERTS", value: "Police.Crashes.length" },
        { text: "STATUS", value: "verificationStatus" },
        {
          text: "APPROVE",
          value: "approve",
          width: "1rem",
          sortable: false
        },
        {
          text: "DECLINE",
          value: "decline",
          width: "1rem",
          sortable: false
        }
      ]
    };
  },
  created() {
    this.$store.dispatch("FetchAllAdmins", "police");
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading;
    },
    tableLoading() {
      return this.$store.state.tableLoading;
    },
    sortedPoliceAdmins() {
      let admins = this.$store.state.policeAdmins;
      return admins.sort((a, b) => {
        return (
          this.defaultSortOrder[a.verificationStatus] -
          this.defaultSortOrder[b.verificationStatus]
        );
      });
    },
    adminActionFeedback() {
      return this.$store.state.adminActionFeedback;
    },
    getItemAction() {
      return `item.action`;
    },
    getItemApproval() {
      return `item.approve`;
    },
    getItemRejection() {
      return `item.decline`;
    },
    getItemStatus() {
      return `item.verificationStatus`;
    },
    getItemName() {
      return `item.firstname`;
    }
  },
  methods: {
    callToAction(verificationStatus, policeID) {
      if (verificationStatus === "Pending" && policeID) return true;
      else return false;
    },
    fetchAdmins() {
      this.$store.dispatch("FetchAllAdmins", "police");
    },
    approveAdmin(admin) {
      this.$store
        .dispatch("ApproveAdmin", {
          tag: "police",
          id: {
            ID: admin.ID
          }
        })
        .then(() => {
          this.displayActionFeedback = true;
        });
    },
    rejectAdmin(admin) {
      this.$store
        .dispatch("DeclineAdmin", {
          tag: "police",
          id: {
            ID: admin.ID
          }
        })
        .then(() => {
          this.displayActionFeedback = true;
        });
    }
  }
};
</script>
