<template>
  <div>
    <Overlay />
    <RiderDetails />
    <template v-if="user.verificationStatus === 'Pending'">
      <v-row align="center" justify="center">
        <span class="grey--text display-1 emptySpace"
          >To view alerts, kindly request for attachment to an emergency
          response unit
          <span>
            <v-btn text color="primary" class="text-lowercase title" to="/admin"
              >here</v-btn
            >
          </span>
          and await feedback from us...</span
        >
      </v-row>
    </template>
    <template v-else-if="user.verificationStatus === 'Denied'">
      <v-row align="center" justify="center">
        <span class="grey--text display-1 emptySpace"
          >Unfortunately, we've determined that you are not authorized to
          represent {{ emergencyPlace }} on our platform. Your request was
          rejected!</span
        >
      </v-row>
    </template>
    <template v-else-if="alerts.length === 0">
      <v-row align="center" justify="center">
        <span class="grey--text display-1 emptySpace"
          >There is nothing here yet!</span
        >
      </v-row>
    </template>
    <template v-else>
      <template v-for="alert in alerts">
        <div :key="alert.ID" class="px-4 px-sm-3">
          <v-alert
            border="left"
            colored-border
            :color="alertColor[routeName]"
            elevation="2"
            class="py-0"
          >
            <v-row>
              <v-col cols="12" sm="8" md="1" align-self="center">
                <v-icon large :color="alertColor[routeName]"
                  >mdi-racing-helmet</v-icon
                >
              </v-col>
              <v-col class="clickable" cols="12" sm="8" md="11">
                <v-row class="space-between" no-gutters>
                  <v-col align-self="center">
                    <h4 class="subtitle-1 font-weight-bold">
                      <span
                        v-html="highlight(alert.crashPlaceName)"
                        class="body-2"
                        >{{ alert.crashPlaceName }}</span
                      >
                      <a
                        v-if="emergencyPlaceLocation"
                        :href="
                          `http://maps.google.com/maps?saddr=${emergencyPlaceLocation.latitude},${emergencyPlaceLocation.longitude}&daddr=${alert.crashLatitude},${alert.crashLongitude}`
                        "
                        role="button"
                        target="_blank"
                      >
                        <v-icon color="#022F40" large>mdi-map-marker</v-icon>
                      </a>
                    </h4>
                  </v-col>
                  <v-col align-self="center">
                    <h5 class="caption text-right">
                      {{ timeAgo(alert.timestamp) }}
                    </h5>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col>
                    <v-row no-gutters align="center" justify="center">
                      <v-col cols="12" sm="2">
                        <span class="text-capitalize">
                          <span class="font-weight-bold"> Status: </span
                          >{{ alert[joinTable].status }}
                        </span>
                      </v-col>
                      <v-col cols="12" sm="3">
                        <span class="text-capitalize">
                          <span class="font-weight-bold"> Distance: </span
                          >{{ alert[joinTable].distance }} ,
                          {{ alert[joinTable].duration }}
                        </span>
                      </v-col>
                      <v-col cols="12" sm="7">
                        <v-btn
                          v-if="routeName === 'accepted'"
                          icon
                          large
                          @click="triggerRiderDetails(true, alert.Rider)"
                        >
                          <v-icon large color="#022F40"> mdi-phone </v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-alert>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import Overlay from "@/components/Overlay.vue";
import RiderDetails from "@/components/RiderDetails.vue";

export default {
  name: "alert",
  data() {
    return {
      alertColor: {
        accepted: "success",
        rejected: "error",
        viewed: "grey"
      },
      routeName: null
    };
  },
  async created() {
    await this.$store.dispatch(
      "fetchLoggedInAdmin",
      localStorage.getItem("role")
    );
    let role = localStorage.getItem("role");
    let table = role === "PoliceAdmin" ? "PoliceCrash" : "HospitalCrash";
    if (this.user.verified) {
      await this.$store.dispatch("FetchEmergencyPlaceDetails", {
        tag: role,
        joinTable: table
      });
      if (this.user.verificationStatus === "Approved") {
        await this.$store.dispatch("FetchAlerts", {
          tag: role,
          section: this.$route.name
        });
      }
    }
  },
  async mounted() {
    this.routeName = this.$route.name;
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    searchTerm() {
      return this.$store.state.searchTerm;
    },
    alerts() {
      let alerts = this.$store.state.APIalerts;
      if (this.searchTerm === null || this.searchTerm === "") {
        return alerts;
      } else {
        return alerts.filter(alert =>
          alert.crashPlaceName
            .toLowerCase()
            .includes(this.searchTerm.toLowerCase())
        );
      }
    },
    joinTable() {
      return this.$store.state.joinTable;
    },
    emergencyPlace() {
      return this.$store.state.emergencyPlace;
    },
    emergencyPlaceLocation() {
      return this.$store.state.emergencyPlaceLocation;
    }
  },
  methods: {
    triggerRiderDetails(value, details) {
      this.$store.dispatch("SetRiderDetails", {
        toggle: value,
        rider: details
      });
    },
    highlight(text) {
      return text.replace(
        new RegExp(this.searchTerm, "gi"),
        `<span class="orange--text">$&</span>`
      );
    },
    timeAgo(timestamp) {
      let monthDay = `${new Date(timestamp)}`;
      let time = new Date(timestamp);
      return `${time.toLocaleString("en-US", {
        hour: "numeric",
        minute: "numeric",
        hour12: true
      })} (${monthDay.substring(4, 15)})`;
    }
  },
  components: {
    Overlay,
    RiderDetails
  }
};
</script>
<style>
.clickable {
  cursor: pointer;
}
.emptySpace {
  margin-top: 30vh;
}
.contacts {
  border-left: 1px solid dodgerblue;
}
</style>
