<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500" persistent>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          v-on="on"
          text
          class="text-capitalize"
          large
          color="#FF8200"
          >Forgot password?</v-btn
        >
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2"
          >Forgot Password</v-card-title
        >
        <v-alert
          v-if="showEmailSentMessage"
          :color="
            forgotPasswordMessage.includes('Success') ? 'success' : 'error'
          "
          class="text-center white--text ma-1"
          dismissible
        >
          {{ forgotPasswordMessage }}
        </v-alert>
        <v-card-text class="pb-0">
          <p class="mt-3">Enter your account email</p>
          <v-form ref="forgotPasswordForm">
            <v-text-field
              class="headline mt-1"
              v-model="email"
              label="Email"
              :rules="emailRules"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <div class="text-center">
          <v-btn
            text
            color="#FF8200"
            @click="sendPasswordResetLink"
            class="text-capitalize mb-2"
            :loading="isLoading"
            >send password reset link</v-btn
          >
        </div>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="closeDialog">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "forgot-password",
  data() {
    return {
      dialog: false,
      showEmailSentMessage: false,
      email: "",
      emailRules: [
        email => !!email || "Email is required",
        email => /.+@.+\..+/.test(email) || "E-mail must be valid"
      ]
    };
  },
  mounted() {
    this.showEmailSentMessage = false;
  },
  computed: {
    ...mapState(["isLoading", "forgotPasswordMessage"])
  },
  methods: {
    closeDialog() {
      (this.dialog = false), (this.showEmailSentMessage = false);
    },
    sendPasswordResetLink() {
      if (this.$refs.forgotPasswordForm.validate()) {
        this.$store
          .dispatch("sendPasswordResetLink", { email: this.email })
          .then(() => {
            this.showEmailSentMessage = true;
          });
      }
    }
  }
};
</script>
