<template>
  <div class="px-sm-12">
    <v-row class="px-5 px-sm-3 py-3" justify="space-between" align="center">
      <span class="pl-3 headline py-sm-2">Ignored Alerts</span>
    </v-row>
    <Alert />
  </div>
</template>

<script>
import Alert from "@/components/Alert.vue";
export default {
  name: "acceptedAlerts",
  components: {
    Alert
  }
};
</script>
<style>
.space-between {
  padding-bottom: 0.5rem;
}
</style>
