<template>
  <v-form
    ref="loginForm"
    class="px-3 px-sm-10 mx-sm-10 pt-12 pb-6 login-form"
    v-model="valid"
    lazy-validation
    @keyup="login"
  >
    <h2 v-if="isAdmin" class="display-2 white--text text-center mb-4">
      Admin Panel
    </h2>
    <h2 v-else class="display-2 white--text text-center mb-4">Log In</h2>
    <v-alert
      v-model="displayError"
      dismissible
      type="warning"
      transition="scroll-y-transition"
      >{{ loginError }}</v-alert
    >
    <v-row align="center" justify="center">
      <v-btn-toggle
        v-show="!isAdmin"
        class="my-3"
        v-model="roleButtons"
        color="primary"
        mandatory
      >
        <v-btn value="hospital" text> Hospital </v-btn>
        <v-btn value="police" text> Police station </v-btn>
        <v-btn value="rider" text> Rider </v-btn>
      </v-btn-toggle>
    </v-row>
    <v-text-field
      id="login-email-field"
      class="headline mb-6"
      dark
      v-model="email"
      label="Email"
      :rules="emailRules"
      required
    ></v-text-field>
    <v-text-field
      id="login-password-field"
      class="headline"
      dark
      v-model="password"
      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
      @click:append="show = !show"
      :type="show ? 'text' : 'password'"
      :rules="passwordRules"
      label="Password"
      required
    ></v-text-field>
    <!-- <ForgotPassword v-if="!isAdmin" /> -->
    <v-row justify="center" class="pt-6">
      <v-col cols="12" md="5" class="mb-4">
        <v-btn
          link
          rounded
          :loading="isLoading"
          large
          depressed
          block
          type="submit"
          class="title login-btn font-weight-bold"
          @click="login"
        >
          <i class="mdi mdi-login"></i> &nbsp;login
        </v-btn>
      </v-col>
      <v-col cols="12" md="7" v-if="!isAdmin">
        <SignupForm />
      </v-col>
    </v-row>
  </v-form>
</template>
<script>
import SignupForm from "@/components/SignupForm.vue";
// import ForgotPassword from "@/components/ForgotPassword.vue";
export default {
  name: "login-form",
  data: () => ({
    valid: false,
    show: false,
    roleButtons: null,
    password: "",
    isAdmin: false,
    displayError: false,
    email: "",
    passwordRules: [password => !!password || "Password is required"],
    emailRules: [
      email => !!email || "Email is required",
      email => /.+@.+\..+/.test(email) || "E-mail must be valid"
    ],
    required: [field => !!field || "This field is required"]
  }),
  mounted() {
    if (this.$route.path === "/platform-admin") this.isAdmin = true;
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    },
    isLoading() {
      return this.$store.state.isLoading;
    },
    loginError() {
      return this.$store.state.loginError;
    }
  },
  methods: {
    login() {
      event.preventDefault();
      let email = this.email;
      let password = this.password;
      if (this.$refs.loginForm.validate()) {
        this.$store
          .dispatch("Login", {
            isAdmin: this.isAdmin,
            tag: this.roleButtons,
            credentials: { email: email, password: password }
          })
          .then(() => {
            if (this.isLoggedIn) {
              if (this.isAdmin) {
                this.$router.push("/platform-panel/dashboard");
              } else {
                this.roleButtons === "rider"
                  ? this.$router.push("/rider")
                  : this.$router.push("/admin");
              }
            } else this.displayError = true;
          })
          .catch(error => {
            console.log(error);
          });
      }
    }
  },
  components: {
    SignupForm
    // ForgotPassword
  }
};
</script>
<style>
.login-form {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
.login-btn {
  opacity: 0.6;
}
</style>
