<template>
  <div
    id="toolbar"
    class="d-flex flex-row align-center blue darken-4 py-2 px-sm-12"
  >
    <v-btn color="grey darken-1" text @click.stop="drawer = !drawer">
      <v-icon large color="white">mdi-menu</v-icon>
    </v-btn>
    <v-text-field
      label="Search"
      v-model="searchTerm"
      background-color="white"
      prepend-inner-icon="mdi-magnify"
      dense
      rounded
      filled
      hide-details
    ></v-text-field>
    <div class="flex-grow-1"></div>
    <div>
      <span class="title white--text font-weight-bold px-6 d-none d-md-flex"
        >{{ user.lastname }} {{ user.firstname }}</span
      >
      <br />
      <span
        v-if="user.verified"
        class="subtitle-2 white--text font-weight-bold px-6 d-none d-md-flex mt-n6"
        >{{ emergencyPlace }}</span
      >
    </div>
    <v-icon class="d-none d-sm-block" color="white" size="4rem"
      >mdi-account-circle</v-icon
    >
    <v-icon class="d-flex d-sm-none px-3" color="white" size="3rem"
      >mdi-account-circle</v-icon
    >

    <v-navigation-drawer
      height="100vh"
      dark
      class="blue darken-4"
      temporary
      absolute
      v-model="drawer"
    >
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-list-item-content>
            <span class="text-center headline white--text">
              <v-icon color="red" size="30">mdi-alert</v-icon>&nbsp;Crash
              Detection Panel
            </span>
          </v-list-item-content>
        </v-list-item>
      </template>
      <v-list dense v-show="role === 'HospitalAdmin'">
        <v-list-item
          v-for="item in hospitalItems"
          :key="item.title"
          :to="item.path"
          active-class="dashboard-active"
          exact
        >
          <v-list-item-icon>
            <v-icon color="white">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="white--text subtitle-2">{{
              item.title
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list dense v-show="role === 'PoliceAdmin'">
        <v-list-item
          v-for="item in policeItems"
          :key="item.title"
          :to="item.path"
          active-class="dashboard-active"
          exact
        >
          <v-list-item-icon>
            <v-icon color="white">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="white--text subtitle-2">{{
              item.title
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <v-list-item @click="logout">
          <v-list-item-icon>
            <v-icon color="white">mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="white--text subtitle-2"
              >Logout</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
        <v-divider dark></v-divider>
        <v-list-item two-line>
          <v-row>
            <v-col cols="6">
              <v-list-item-content class="text-right">
                <v-list-item-title class="white--text">{{
                  weekDay
                }}</v-list-item-title>
                <v-list-item-subtitle class="white--text">{{
                  monthDay
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-col>
            <v-divider vertical class="my-4"></v-divider>
            <v-col cols="5" class="my-2 white--text" style="font-size: 1.4rem">
              {{ timeOfTheDay }}
            </v-col>
          </v-row>
        </v-list-item>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "dashboard",
  data() {
    return {
      drawer: null,
      role: null,
      hospitalItems: [
        { title: "Crashes", icon: "mdi-hospital-box-outline", path: "/admin" },
        {
          title: "Accepted",
          icon: "mdi-check-circle",
          path: "/admin/accepted"
        },
        {
          title: "Rejected",
          icon: "mdi-close-circle",
          path: "/admin/rejected"
        },
        {
          title: "Ignored",
          icon: "mdi-bell-off-outline",
          path: "/admin/ignored"
        },
        {
          title: "Statistics",
          icon: "mdi-chart-bar-stacked",
          path: "/admin/stats"
        }
      ],
      policeItems: [
        { title: "Crashes", icon: "mdi-hospital-box-outline", path: "/admin" },
        {
          title: "Reported",
          icon: "mdi-check-circle",
          path: "/admin/accepted"
        },
        {
          title: "Viewed",
          icon: "mdi-bell-off-outline",
          path: "/admin/ignored"
        },
        {
          title: "Statistics",
          icon: "mdi-chart-bar-stacked",
          path: "/admin/stats"
        }
      ],
      weekDay: "",
      monthDay: "",
      timeOfTheDay: ""
    };
  },
  mounted() {
    this.role = localStorage.getItem("role");
    let date = new Date();
    this.weekDay = this.getWeekDay(date.getDay());
    this.timeOfTheDay = this.getTimeOfTheDay(
      date.getHours(),
      date.getMinutes()
    );
    this.monthDay = this.getMonthDayWithSuffix(date.getDate());
  },
  computed: {
    ...mapState(["searchTerm"]),
    searchTerm: {
      set(value) {
        this.$store.dispatch("SearchTerm", value);
      },
      get() {
        return this.$store.getters.searchTerm;
      }
    },
    emergencyPlace() {
      return this.$store.state.emergencyPlace;
    },
    user() {
      return this.$store.state.user;
    }
  },
  methods: {
    getMonthDayWithSuffix(date) {
      let dateLessThanTen = date % 10;
      let dateGreaterThanTen = date % 100;
      if (dateLessThanTen == 1 && dateGreaterThanTen != 11) {
        return date + "st";
      }
      if (dateLessThanTen == 2 && dateGreaterThanTen != 12) {
        return date + "nd";
      }
      if (dateLessThanTen == 3 && dateGreaterThanTen != 13) {
        return date + "rd";
      }
      return date + "th";
    },
    getWeekDay(day) {
      let days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ];
      return days[day];
    },
    getTimeOfTheDay(hours, minutes) {
      let doubleDigitMinutes = (minutes < 10 ? "0" : "") + minutes;
      return `${hours}:${doubleDigitMinutes}`;
    },
    logout() {
      localStorage.clear();
      this.$router.push("/");
    }
  }
};
</script>
<style lang="scss">
.dashboard-active {
  background-color: #b71c1c;
  color: white !important;
  font-weight: bold;
}
#toolbar {
  width: 100% !important;
}
</style>
