<template>
  <div class="px-sm-12">
    <v-row class="px-5 px-sm-3 py-3" justify="space-between" align="center">
      <span class="pl-3 headline py-sm-2">Alerts</span>
    </v-row>
    <template v-if="user.verificationStatus === 'Pending'">
      <v-row align="center" justify="center">
        <v-col cols="12">
          <div class="text-center px-2">
            <span class="grey--text display-1"
              >You are not yet attached to a {{ emergencyPlaceToggle }}.</span
            >
            <br />
            <span class="grey--text body-1">
              Select a {{ emergencyPlaceToggle }} below to receive alerts
            </span>
            <br />
            <span class="grey--text body-1">
              <span class="primary--text font-weight-bold">Note:</span> We will
              take some time to verify your role at the selected
              {{ emergencyPlaceToggle }} before you can receive alerts.
            </span>
            <br />
            <span
              v-if="emergencyPlace && user[emergencyPlaceIDToggle]"
              class="grey--text body-1"
            >
              Requested attachment to:
              <span class="font-weight-bold primary--text">{{
                emergencyPlace
              }}</span>
            </span>
          </div>
        </v-col>
        <v-col cols="10" sm="6">
          <v-alert
            v-if="requestAttachmentSuccess && user[emergencyPlaceIDToggle]"
            dark
            class="text-center"
            dismissible
            color="success"
          >
            <span class="text-capitalize">{{ requestAttachmentSuccess }}</span
            >. Your request has been received!
          </v-alert>
          <div class="text-center">
            <SelectEmergencyPlace />
          </div>
        </v-col>
      </v-row>
    </template>
    <template v-else-if="user.verificationStatus === 'Denied'">
      <v-row align="center" justify="center">
        <span class="grey--text display-2 emptySpace"
          >Unfortunately, we've determined that you are not authorized to
          represent {{ emergencyPlace }} on our platform. Your request was
          rejected!
        </span>
      </v-row>
    </template>
    <template
      v-else-if="alerts.length === 0 && user.verificationStatus === 'Approved'"
    >
      <v-row align="center" justify="center">
        <span class="grey--text display-1 emptySpace"
          >There is nothing here yet!</span
        >
      </v-row>
    </template>
    <template v-else>
      <template v-for="alert in alerts">
        <div :key="alert.ID" class="px-4 px-sm-3">
          <v-alert
            border="left"
            colored-border
            color="red darken-3"
            elevation="2"
            class="py-0"
          >
            <v-row>
              <v-col cols="12" sm="8" md="1" align-self="center">
                <v-icon class="blink" large color="red darken-3"
                  >mdi-racing-helmet</v-icon
                >
              </v-col>
              <v-col class="clickable" cols="12" sm="8" md="11">
                <v-row class="space-between" no-gutters>
                  <v-col align-self="center">
                    <h4 class="subtitle-1 font-weight-bold">
                      <span
                        v-html="highlight(alert.crashPlaceName)"
                        class="body-2"
                        >{{ alert.crashPlaceName }}</span
                      >
                      <a
                        :href="
                          `http://maps.google.com/maps?saddr=${emergencyPlaceLocation.latitude},${emergencyPlaceLocation.longitude}&daddr=${alert.crashLatitude},${alert.crashLongitude}`
                        "
                        role="button"
                        target="_blank"
                      >
                        <v-icon color="#022F40" large>mdi-map-marker</v-icon>
                      </a>
                    </h4>
                  </v-col>
                  <v-col align-self="center">
                    <h5 class="caption text-right">
                      {{ timeAgo(alert.timestamp) }}
                    </h5>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col cols="8">
                    <v-row no-gutters align="center" justify="center">
                      <v-col sm="3">
                        <span class="text-capitalize">
                          <span class="font-weight-bold"> Status: </span
                          >{{ alert[joinTable].status }}
                        </span>
                      </v-col>
                      <v-col>
                        <span class="text-capitalize">
                          <span class="font-weight-bold"> Distance: </span
                          >{{ alert[joinTable].distance }} ,
                          {{ alert[joinTable].duration }}
                        </span>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col v-show="role === 'HospitalAdmin'">
                    <div class="text-right">
                      <v-btn
                        color="success"
                        @click="acceptAlert(alert[`${joinTable}`].CrashID)"
                        >Accept</v-btn
                      >
                    </div>
                  </v-col>
                  <v-col v-show="role === 'HospitalAdmin'">
                    <div class="text-right">
                      <v-btn
                        color="error"
                        class="white--text"
                        @click="rejectAlert(alert[`${joinTable}`].CrashID)"
                        >Reject</v-btn
                      >
                    </div>
                  </v-col>
                  <v-col v-show="role === 'PoliceAdmin'">
                    <div class="text-right">
                      <v-btn
                        color="primary"
                        class="white--text"
                        @click="acceptAlert(alert[`${joinTable}`].CrashID)"
                        >report accident</v-btn
                      >
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-alert>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import SelectEmergencyPlace from "@/components/SelectEmergencyPlace.vue";
import store from "@/store/store.js";
export default {
  data() {
    return {
      connection: null,
      emergencyPlaceToggle: "",
      emergencyPlaceIDToggle: null,
      emergencyPlaceTag: "",
      role: ""
    };
  },
  async mounted() {
    this.role = localStorage.getItem("role");
    let table = this.role === "PoliceAdmin" ? "PoliceCrash" : "HospitalCrash";
    this.emergencyPlaceToggle =
      this.role === "PoliceAdmin" ? "police station" : "hospital";
    this.emergencyPlaceTag =
      this.role === "PoliceAdmin" ? "police" : "hospital";
    this.emergencyPlaceIDToggle =
      this.role === "PoliceAdmin" ? "PoliceID" : "HospitalID";
    await this.$store.dispatch("fetchLoggedInAdmin", this.role);
    if (this.user.verificationStatus === "Approved") {
      console.log("Starting connection to server...");
      this.connection = new WebSocket("wss://emergency-alerts.herokuapp.com/");
      //Comment line above and uncomment line below to connect to local server
      // this.connection = new WebSocket("ws://localhost:3000/");

      console.log("Connection: ", this.connection);

      this.connection.onopen = function(event) {
        console.log(event);
        console.log("Successfully connected to the CDH web socket!");
      };
      this.connection.onmessage = function(message) {
        let socketAlerts = JSON.parse(message.data);
        store.dispatch("StoreAlerts", socketAlerts);
      };
    }
    if (this.user[this.emergencyPlaceIDToggle]) {
      await this.$store.dispatch("FetchEmergencyPlaceDetails", {
        tag: this.role,
        joinTable: table
      });
      if (this.user.verificationStatus === "Approved") {
        let message = {
          tag: this.emergencyPlaceTag,
          command: "setDetails",
          [this.emergencyPlaceIDToggle]: this.emergencyPlaceID,
          googlePlaceID: this.emergencyPlaceGoogleID
        };
        console.log("Connection: ", this.connection);
        this.fetchAlerts(this.connection, message);
      }
    }
  },
  computed: {
    searchTerm() {
      return this.$store.state.searchTerm;
    },
    alerts() {
      let alerts = this.$store.state.alerts;
      if (this.searchTerm === null || this.searchTerm === "") {
        return alerts;
      } else {
        return alerts.filter(alert =>
          alert.crashPlaceName
            .toLowerCase()
            .includes(this.searchTerm.toLowerCase())
        );
      }
    },
    emergencyPlaceLocation() {
      return this.$store.state.emergencyPlaceLocation;
    },
    emergencyPlaceID() {
      return this.$store.state.emergencyPlaceID;
    },
    emergencyPlace() {
      return this.$store.state.emergencyPlace;
    },
    emergencyPlaceGoogleID() {
      return this.$store.state.emergencyPlaceGoogleID;
    },
    user() {
      return this.$store.state.user;
    },
    joinTable() {
      return this.$store.state.joinTable;
    },
    requestAttachmentSuccess() {
      return this.$store.state.requestAttachmentSuccess;
    }
  },
  destroyed() {
    if (this.connection !== null) {
      this.connection.close();
      this.connection.onclose = function() {
        console.log("Connection closed");
      };
    }
  },
  methods: {
    highlight(text) {
      return text.replace(
        new RegExp(this.searchTerm, "gi"),
        `<span class="orange--text">$&</span>`
      );
    },
    waitForOpenConnection(socket) {
      return new Promise((resolve, reject) => {
        const maxNumberOfAttempts = 10;
        const intervalTime = 200; //ms

        let currentAttempt = 0;
        const interval = setInterval(() => {
          if (currentAttempt > maxNumberOfAttempts - 1) {
            clearInterval(interval);
            reject(new Error("Maximum number of attempts exceeded"));
          } else if (socket.readyState === socket.OPEN) {
            clearInterval(interval);
            resolve();
          }
          currentAttempt++;
        }, intervalTime);
      });
    },
    async fetchAlerts(socket, message) {
      if (socket.readyState !== socket.OPEN) {
        try {
          await this.waitForOpenConnection(socket);
          socket.send(JSON.stringify(message));
        } catch (error) {
          console.error(error);
        }
      } else {
        socket.send(JSON.stringify(message));
      }
    },
    acceptAlert(alertid) {
      let message = {
        tag: this.emergencyPlaceTag,
        command: "acceptCrash",
        [this.emergencyPlaceIDToggle]: this.emergencyPlaceID,
        alertID: alertid
      };
      this.connection.send(JSON.stringify(message));
    },
    rejectAlert(alertid) {
      let message = {
        tag: this.emergencyPlaceTag,
        command: "denyCrash",
        [this.emergencyPlaceIDToggle]: this.emergencyPlaceID,
        alertID: alertid
      };
      this.connection.send(JSON.stringify(message));
    },
    timeAgo(timestamp) {
      let monthDay = `${new Date(timestamp)}`;
      let time = new Date(timestamp);
      return `${time.toLocaleString("en-US", {
        hour: "numeric",
        minute: "numeric",
        hour12: true
      })} (${monthDay.substring(4, 15)})`;
    }
  },
  components: {
    SelectEmergencyPlace
  }
};
</script>

<style>
.space-between {
  padding-bottom: 0.5rem;
}
.clickable {
  cursor: pointer;
}
.emptySpace {
  margin-top: 30vh;
}
.blink {
  animation: blink 0.5s linear infinite !important;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
</style>
