<template>
  <div class="text-center">
    <v-overlay :value="overlayLoader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>
<script>
export default {
  name: "overlay-loader",
  computed: {
    overlayLoader() {
      return this.$store.state.overlayLoader;
    }
  }
};
</script>
