<template>
  <div
    class="toolbar d-none d-sm-flex flex-row align-center blue darken-4 px-sm-12"
  >
    <v-row no-gutters align="center" justify="center">
      <v-col>
        <div class="title pl-2">
          <v-btn text to="/platform-panel/dashboard">
            <span class="white--text font-weight-bold">Emergency Alerts</span>
          </v-btn>
        </div></v-col
      >
      <div class="flex-grow-1"></div>
      <v-col>
        <v-btn-toggle v-model="role" color="primary" class="my-3">
          <v-btn value="hospital" text @click.native="fetchAdmins('hospital')">
            Hospital
          </v-btn>
          <v-btn value="police" text @click.native="fetchAdmins('police')">
            Police station
          </v-btn>
        </v-btn-toggle>
      </v-col>
      <v-col>
        <div class="text-center">
          <v-btn text class="text-capitalize" to="/platform-panel/riders">
            <span class="subtitle-1 white--text font-weight-bold px-6"
              >Riders</span
            >
          </v-btn>
        </div>
      </v-col>
      <v-col>
        <v-row no-gutters align="center" justify="center">
          <v-col cols="12" sm="0" md="7" lg="6">
            <div>
              <span
                class="subtitle-1 white--text font-weight-bold d-none d-md-flex"
                >Administrator</span
              >
              <br />
              <span
                class="subtitle-2 white--text font-weight-bold d-none d-md-flex mt-n6"
                >Emergency Alerts</span
              >
            </div>
          </v-col>
          <v-col cols="12" sm="5" md="5" lg="6">
            <v-menu
              offset-y
              offset-x
              :close-on-content-click="closeOnContentClick"
              direction="bottom"
              transition="slide-y-transition"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  class="d-none d-sm-flex mx-auto"
                  v-on="on"
                  v-bind="attrs"
                  :class="{ 'pr-5': $vuetify.breakpoint.sm }"
                  color="white"
                  size="4rem"
                  >mdi-account-circle</v-icon
                >
                <v-icon
                  class="d-flex d-sm-none px-3 mx-auto"
                  v-on="on"
                  v-bind="attrs"
                  :class="{ 'pr-5': $vuetify.breakpoint.sm }"
                  color="white"
                  size="3rem"
                  >mdi-account-circle</v-icon
                >
              </template>
              <v-list>
                <v-list-item>
                  <v-list-item-title>
                    <v-btn text class="text-capitalize" @click="logout">
                      <v-icon>mdi-power</v-icon>
                      <span>&nbsp;Sign out</span>
                    </v-btn>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "platform-admin-menu",
  data() {
    return {
      closeOnContentClick: true,
      role: ""
    };
  },
  mounted() {
    this.$store.dispatch("SwitchAdminsTable", "hospital");
  },
  methods: {
    fetchAdmins(tag) {
      this.$store.dispatch("SwitchAdminsTable", this.role);
      this.$store.dispatch("FetchAllAdmins", tag);
    },
    logout() {
      this.closeOnContentClick = false;
      localStorage.clear();
      this.$router.push("/platform-admin");
    }
  }
};
</script>
<style>
#toolbar {
  width: 100% !important;
}
</style>
