<template>
  <div>
    <v-app-bar
      color="blue darken-4"
      class="mobile-drawer d-block d-sm-none"
      dark
    >
      <v-toolbar-title>
        <v-btn
          text
          class="white--text font-weight-bold text-capitalize title px-0"
          >Emergency Alerts</v-btn
        >
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      class="d-flex d-sm-none"
      fixed
      bottom
      temporary
    >
      <v-list nav dense>
        <v-list-item-group active-class="blue--text text--blue darken-4">
          <v-list-item class="my-6">
            <v-btn
              text
              class="text-capitalize mx-auto"
              to="/platform-panel/dashboard"
            >
              <span class="headline font-weight-light">Dashboard</span>
            </v-btn>
          </v-list-item>
          <v-list-item class="my-6">
            <v-btn-toggle v-model="role" color="primary" class="my-3 mx-auto">
              <v-btn
                value="hospital"
                text
                @click.native="fetchAdmins('hospital')"
              >
                Hospital
              </v-btn>
              <v-btn value="police" text @click.native="fetchAdmins('police')">
                Police station
              </v-btn>
            </v-btn-toggle>
          </v-list-item>
          <v-list-item class="my-6">
            <v-btn
              text
              class="text-capitalize mx-auto"
              to="/platform-panel/riders"
            >
              <span class="headline font-weight-light">Riders</span>
            </v-btn>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <template :v-slot="append">
        <v-list-item @click="logout">
          <v-btn text class="title text-capitalize mx-auto">
            <v-icon large>mdi-power</v-icon>
            <span>&nbsp;Sign out</span>
          </v-btn>
        </v-list-item>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: "mobile-drawer",
  data() {
    return {
      drawer: false,
      role: ""
    };
  },
  mounted() {
    this.$store.dispatch("SwitchAdminsTable", "hospital");
  },
  methods: {
    fetchAdmins(tag) {
      this.$store.dispatch("SwitchAdminsTable", this.role);
      this.$store.dispatch("FetchAllAdmins", tag);
    },
    logout() {
      this.closeOnContentClick = false;
      localStorage.clear();
      this.$router.push("/platform-admin");
    }
  }
};
</script>
