<template>
  <v-container class="login" fluid fill-height>
    <v-row align="center" justify="center">
      <v-col>
        <v-card width="500" class="mx-auto">
          <v-card-title class="headline grey lighten-2"
            >Reset Password</v-card-title
          >
          <v-alert
            v-if="displayResetPasswordError"
            color="error"
            class="text-center white--text ma-1"
            dismissible
          >
            The password reset link expired. Click
            <span class="yellow--text">here</span> to get a new link
          </v-alert>
          <v-card-text class="pb-0">
            <p class="mt-3 text-center">Enter a new password</p>
            <v-form ref="forgotPasswordForm">
              <v-text-field
                id="password"
                v-model="password"
                :rules="passwordRules(8)"
                label="Password"
                type="password"
                required
              ></v-text-field>
              <v-text-field
                v-model="confirmPassword"
                :rules="confirmPasswordRules"
                label="Confirm Password"
                type="password"
                required
              ></v-text-field>
            </v-form>
          </v-card-text>
          <div class="text-center">
            <v-btn text color="#FF8200" class="text-capitalize mb-2"
              >reset password</v-btn
            >
          </div>
          <v-divider></v-divider>

          <v-card-actions>
            <v-btn color="primary" to="/" text>Back to login</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "reset-password",
  data() {
    return {
      dialog: false,
      displayResetPasswordError: false,
      password: "",
      confirmPassword: "",
      passwordRules: len => [
        passwordField =>
          (passwordField || "").length >= len ||
          `Password too short, requires at least ${len} characters`,
        password => !!password || "Password is required"
      ]
    };
  },
  computed: {
    confirmPasswordRules() {
      return [
        confirmPassword =>
          !!confirmPassword || "Confirmation password is required",
        confirmPassword =>
          confirmPassword === this.password || "Passwords do not match!"
      ];
    }
  }
};
</script>

<style>
.login {
  background: linear-gradient(
      rgba(0, 0, 0, 0.7) 50%,
      rgba(1, 1, 1, 0.7) 50% 100%
    ),
    url("~@/assets/img/ambulance.jpg");
  background-size: cover;
}
</style>
