<template>
  <div class="toolbar d-flex flex-row align-center blue darken-4 px-sm-12 py-1">
    <div class="title">
      <v-btn text to="/platform-panel/dashboard">
        <span class="white--text font-weight-bold">Emergency Alerts</span>
      </v-btn>
    </div>
    <div class="flex-grow-1"></div>
    <div class="pr-2">
      <span class="subtitle-1 white--text font-weight-bold d-none d-md-flex"
        >{{ user.lastname }} {{ user.firstname }}</span
      >
      <br />
      <span
        class="subtitle-2 white--text font-weight-bold d-none d-md-flex mt-n6"
        >Rider</span
      >
    </div>
    <v-menu
      offset-y
      offset-x
      :close-on-content-click="closeOnContentClick"
      direction="bottom"
      transition="slide-y-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          class="d-none d-sm-flex mx-auto"
          v-on="on"
          v-bind="attrs"
          :class="{ 'pr-5': $vuetify.breakpoint.sm }"
          color="white"
          size="4rem"
          >mdi-account-circle</v-icon
        >
        <v-icon
          class="d-flex d-sm-none px-3 mx-auto"
          v-on="on"
          v-bind="attrs"
          :class="{ 'pr-5': $vuetify.breakpoint.sm }"
          color="white"
          size="3rem"
          >mdi-account-circle</v-icon
        >
      </template>
      <v-list>
        <v-list-item>
          <v-list-item-title>
            <v-btn text class="text-capitalize" @click="logout">
              <v-icon>mdi-power</v-icon>
              <span>&nbsp;Sign out</span>
            </v-btn>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: "platform-admin-menu",
  data() {
    return {
      closeOnContentClick: true,
      role: ""
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    }
  },
  methods: {
    logout() {
      this.closeOnContentClick = false;
      localStorage.clear();
      this.$router.push("/");
    }
  }
};
</script>
<style>
#toolbar {
  width: 100% !important;
}
</style>
