<template>
  <div class="text-center">
    <v-dialog v-model="riderRegistrationTrigger" width="500" persistent>
      <v-card>
        <v-card-title>
          <span class="headline font-weight-bold text-center"
            >Sign up rider</span
          >
        </v-card-title>

        <v-card-text>
          <v-alert
            v-model="displayError"
            dismissible
            type="warning"
            class="text-center"
            transition="scroll-y-transition"
            >{{ registerRiderError }}</v-alert
          >
          <v-form ref="riderSignupForm" v-model="valid" lazy-validation>
            <v-row align="center" justify="center">
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="surname"
                  :rules="nameRules"
                  label="Surname"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="firstname"
                  :rules="nameRules"
                  label="First name"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="Email"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="pb-0">
                <span class="body-1 font-weight-bold text-center">
                  Next of kin</span
                >
              </v-col>
              <v-col cols="12" sm="6" md="6" class="pt-0">
                <v-text-field
                  v-model="nextOfKinName"
                  :rules="nameRules"
                  label="Next of kin's name"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6" class="pt-0">
                <v-text-field
                  v-model="nextOfKinPhoneNumber"
                  label="07........"
                  :rules="phoneNumberRules(10)"
                  required
                  prepend-inner-icon="mdi-phone"
                  height="28"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  id="password"
                  v-model="password"
                  label="Password"
                  :rules="passwordRules(8)"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show = !show"
                  :type="show ? 'text' : 'password'"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="confirmPassword"
                  :rules="confirmPasswordRules"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show = !show"
                  :type="show ? 'text' : 'password'"
                  label="Confirm Password"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="triggerRiderRegistration(false)">
            cancel
          </v-btn>
          <v-btn color="success" text @click="registerRider"> save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "rider-registration",
  data() {
    return {
      valid: false,
      firstname: "",
      surname: "",
      nextOfKinName: "",
      nextOfKinPhoneNumber: "",
      displayError: false,
      email: "",
      password: "",
      confirmPassword: "",
      show: false,
      nameRules: [name => !!name || "This field is required"],
      emailRules: [
        email => !!email || "E-mail is required",
        email => /.+@.+\..+/.test(email) || "E-mail must be valid"
      ],
      passwordRules: len => [
        passwordField =>
          (passwordField || "").length >= len ||
          `Password too short, requires at least ${len} characters`,
        password => !!password || "Password is required"
      ],
      phoneNumberRules: len => [
        phoneNumberField =>
          (phoneNumberField || "").length === 10 ||
          `Phone number must be ${len} digits`,
        number => !!number || "Phone number is required",
        number =>
          /(?=^07)(?=\d{10})/.test(number) || "The phone number is not valid"
      ]
    };
  },
  computed: {
    confirmPasswordRules() {
      return [
        confirmPassword =>
          !!confirmPassword || "Confirmation password is required",
        confirmPassword =>
          confirmPassword === this.password || "Passwords do not match!"
      ];
    },
    riderRegistrationTrigger() {
      return this.$store.state.riderRegistrationTrigger;
    },
    registerRiderError() {
      return this.$store.state.registerRiderError;
    }
  },
  methods: {
    triggerRiderRegistration(value) {
      this.$store.dispatch("TriggerRiderRegistration", value);
    },
    async registerRider() {
      if (this.$refs.riderSignupForm.validate()) {
        let riderDetails = {
          firstname: this.firstname,
          lastname: this.surname,
          email: this.email,
          next_Of_kin_Name: this.nextOfKinName,
          next_Of_kin_Contact: this.nextOfKinPhoneNumber,
          password: this.password,
          passwordConfirm: this.confirmPassword
        };
        await this.$store.dispatch("RegisterRider", riderDetails);
        if (this.registerRiderError) {
          this.displayError = true;
        } else {
          this.$refs.riderSignupForm.reset();
          await this.$store.dispatch("FetchAllRiders");
        }
      }
    }
  }
};
</script>
