<template>
  <v-row class="px-2 px-sm-12">
    <v-col cols="12">
      <h1 class="display-2 text-center grey--text text--darken-2">
        My crashes
      </h1>
    </v-col>
    <v-col cols="12" md="6">
      <v-card class="map-holder">
        <div class="text-center py-6">
          <span class="headline">Crash sites</span>
        </div>
        <div class="map">
          <div class="googleMap" id="lotNavigationMap"></div>
        </div>
      </v-card>
    </v-col>
    <v-col cols="12" md="6">
      <v-row>
        <v-col v-for="crash in crashes" :key="crash.id" cols="12" sm="6">
          <v-card class="mx-auto">
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">
                  CRASH #{{ crashes.indexOf(crash) + 1 }}
                </div>
                <v-list-item-title class="title mb-1">
                  {{ crash.crashPlaceName }}
                </v-list-item-title>
                <v-list-item-subtitle>{{
                  timeAgo(crash.timestamp)
                }}</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar tile size="60">
                <v-icon large color="orange"> mdi-map-marker </v-icon>
              </v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
              <v-btn
                outlined
                rounded
                link
                :href="
                  `https://www.google.com/maps/search/?api=1&query=${crash.crashLatitude},${crash.crashLongitude}`
                "
                target="_blank"
              >
                visit crash site
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "rider-crashes",
  async mounted() {
    await this.$store.dispatch("FetchLoggedInRider");
    this.showNavigationMap(this.crashes);
  },
  computed: {
    crashes() {
      return this.$store.state.user.Crashes;
    }
  },
  methods: {
    timeAgo(timestamp) {
      let time = `${new Date(timestamp)}`;
      return time.substring(0, 15);
    },
    showNavigationMap(crashes) {
      let mapDiv = document.getElementById("lotNavigationMap");
      if (crashes.length > 0) {
        let options = {
          center: new window.google.maps.LatLng(
            crashes[0].crashLatitude,
            crashes[0].crashLongitude
          ),
          zoom: 13,
          controlSize: 35,
          mapTypeControl: true,
          streetViewControl: true,
          fullscreenControl: true,
          zoomControlOptions: {
            position: window.google.maps.ControlPosition.RIGHT_CENTER
          }
        };
        let map = new window.google.maps.Map(mapDiv, options);
        for (let crash of crashes) {
          let marker = new window.google.maps.Marker({
            position: new window.google.maps.LatLng(
              crash.crashLatitude,
              crash.crashLongitude
            ),
            map: map
          });
          let infoWindow = new window.google.maps.InfoWindow({
            content: `<strong class='caption'><em>CRASH #${crashes.indexOf(
              crash
            ) + 1}</em></strong>`
          });
          infoWindow.open(map, marker);
        }
        let geocoder = new window.google.maps.Geocoder();
        this.reverseGeocode(geocoder);
        return map;
      }
    },
    reverseGeocode(geocoder) {
      let latlng = {
        lat: 0.3384,
        lng: 32.5869
      };
      geocoder.geocode({ location: latlng }, (results, status) => {
        if (status != "OK") {
          console.log("Geocode failed due to : " + status);
        }
      });
    }
  }
};
</script>
<style>
#lotNavigationMap,
.map {
  width: 48.5rem;
  height: 27rem;
}
.map-holder {
  overflow: hidden !important;
}
</style>
