<template>
  <div class="text-center">
    <v-dialog v-model="riderDetailsTrigger" width="500" persistent>
      <v-card>
        <v-card-title>
          <span class="headline font-weight-bold text-center"
            >Rider details</span
          >
        </v-card-title>

        <v-card-text class="pb-0">
          <v-list two-line>
            <v-list-item>
              <v-row no-gutters align="center" justify="center">
                <v-col cols="12" sm="2">
                  <v-icon large color="primary">
                    mdi-information-outline
                  </v-icon>
                </v-col>
                <v-col cols="12" sm="10">
                  <div>
                    Kindly contact the next of kin to let them know that you
                    have received their relative
                  </div>
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold">
                  Name
                </v-list-item-title>
                <v-list-item-subtitle class="details">
                  {{ riderDetails.firstname }}
                  {{ riderDetails.lastname }}</v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold">
                  Next of kin name
                </v-list-item-title>
                <v-list-item-subtitle class="details">
                  {{ riderDetails.next_Of_kin_Name }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold">
                  Next of kin contact
                </v-list-item-title>
                <v-list-item-subtitle class="details">
                  {{ riderDetails.next_Of_kin_Contact }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="triggerRiderDetails(false)">
            close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "rider-details",
  computed: {
    riderDetailsTrigger() {
      return this.$store.state.riderDetailsTrigger;
    },
    riderDetails() {
      return this.$store.state.riderDetails;
    }
  },
  methods: {
    triggerRiderDetails(value) {
      this.$store.dispatch("TriggerRiderDetails", value);
    }
  }
};
</script>

<style>
.details {
  font-size: 1.2rem;
  color: #d7d7d7;
}
</style>
