<template>
  <div>
    <input
      id="autocomplete"
      :placeholder="`Type to select a ${this.emergencyPlace}...`"
      type="text"
      width="100%"
      :value="googlePlace.name"
      class="v-input v-text-field"
      v-on:focus="triggerAutocomplete()"
    />
    <v-btn
      color="primary"
      class="mt-4"
      :loading="isLoading"
      @click="requestEmergencyPlaceAttachment"
    >
      request
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "select-emergency-place",
  data() {
    return {
      role: "",
      emergencyPlace: "",
      googlePlace: ""
    };
  },
  mounted() {
    this.role = localStorage.getItem("role");
    this.emergencyPlace = this.role === "PoliceAdmin" ? "police" : "hospital";
    setupAutoCompleteInput.call(this);
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading;
    }
  },
  methods: {
    triggerAutocomplete() {
      setupAutoCompleteInput.call(this);
    },
    requestEmergencyPlaceAttachment() {
      if (this.googlePlace) {
        this.$store
          .dispatch("RequestEmergencyPlaceAttachment", {
            tag: this.emergencyPlace,
            details: {
              [`${this.emergencyPlace}Name`]: this.googlePlace.name,
              [`${this.emergencyPlace}Latitude`]: this.googlePlace.geometry.location.lat(),
              [`${this.emergencyPlace}Longitude`]: this.googlePlace.geometry.location.lng(),
              [`${this.emergencyPlace}PlaceID`]: this.googlePlace.place_id
            }
          })
          .then(() => {
            this.$store.dispatch(
              "fetchLoggedInAdmin",
              localStorage.getItem("role")
            );
          });
      }
    }
  }
};
function setupAutoCompleteInput() {
  let inputElement = document.getElementById("autocomplete");
  let autoComplete = buildPlacesAutoComplete(inputElement);

  autoComplete.addListener("place_changed", () => {
    let place = autoComplete.getPlace();
    this.googlePlace = place;
  });
}
function buildPlacesAutoComplete(inputElement) {
  let options = {
    types: ["geocode", "establishment"],
    componentRestrictions: { country: "ug" }
  };
  return new window.google.maps.places.Autocomplete(inputElement, options);
}
</script>
<style lang="scss">
#autocomplete,
#autocomplete:focus {
  width: 100% !important;
  border-bottom: 1px solid grey;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
}

.pac-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.pac-item {
  padding: 0.5rem 1rem;
  white-space: normal;
}
.pac-icon {
  display: none;
}
.pac-item-query {
  display: block;
}
</style>
