<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="400px">
      <template v-slot:activator="{ on }">
        <p class="text-center font-weight-bold grey--text lighten-1">
          Don't have an account?
          <v-btn id="sign-up" v-on="on" text color="#aaf683" dark
            >Sign up here</v-btn
          >
        </p>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline font-weight-bold text-center">Sign up</span>
        </v-card-title>
        <v-card-text>
          <v-alert
            v-model="displayError"
            dismissible
            type="warning"
            transition="scroll-y-transition"
            >{{ signupError }}</v-alert
          >
          <v-form ref="signupForm" v-model="valid" lazy-validation>
            <v-row align="center" justify="center">
              <v-btn-toggle
                class="pt-3"
                v-model="roleButtons"
                color="primary"
                mandatory
              >
                <v-btn small value="hospital" text>
                  Hospital
                </v-btn>
                <v-btn small value="police" text>
                  Police station
                </v-btn>
              </v-btn-toggle>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="firstname"
                  :rules="nameRules"
                  label="First name"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="surname"
                  :rules="nameRules"
                  label="Surname"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="Email"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  id="password"
                  v-model="password"
                  :rules="passwordRules(8)"
                  label="Password"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show = !show"
                  :type="show ? 'text' : 'password'"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="confirmPassword"
                  :rules="confirmPasswordRules"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show = !show"
                  :type="show ? 'text' : 'password'"
                  label="Confirm Password"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions class="px-6">
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" :loading="isLoading" text @click="signup"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      roleButtons: null,
      displayError: false,
      valid: true,
      show: false,
      firstname: "",
      surname: "",
      email: "",
      password: "",
      confirmPassword: "",
      nameRules: [name => !!name || "This field is required"],
      emailRules: [
        email => !!email || "E-mail is required",
        email => /.+@.+\..+/.test(email) || "E-mail must be valid"
      ],
      passwordRules: len => [
        passwordField =>
          (passwordField || "").length >= len ||
          `Password too short, requires at least ${len} characters`,
        password => !!password || "Password is required"
      ]
    };
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading;
    },
    signupError() {
      return this.$store.state.signupError;
    },
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    },
    confirmPasswordRules() {
      return [
        confirmPassword =>
          !!confirmPassword || "Confirmation password is required",
        confirmPassword =>
          confirmPassword === this.password || "Passwords do not match!"
      ];
    }
  },
  methods: {
    signup() {
      if (this.$refs.signupForm.validate()) {
        let signupDetails = {
          firstname: this.firstname,
          lastname: this.surname,
          email: this.email,
          password: this.password,
          passwordConfirm: this.confirmPassword
        };
        this.$store
          .dispatch("Signup", {
            tag: this.roleButtons,
            details: signupDetails
          })
          .then(() => {
            if (this.isLoggedIn) {
              this.dialog = false;
              this.$router.push("/admin");
            } else this.displayError = true;
          });
      }
    }
  }
};
</script>
