<template>
  <div class="px-sm-12">
    <Overlay />
    <v-row class="px-5 px-sm-3 py-3" justify="space-between" align="center">
      <span class="pl-3 headline py-sm-2">Statistics</span>
    </v-row>
    <template v-if="user.verificationStatus === 'Pending'">
      <v-row align="center" justify="center">
        <span class="grey--text display-1 emptySpace"
          >To view alerts, kindly request for attachment to an emergency
          response unit
          <span>
            <v-btn text color="primary" class="text-lowercase title" to="/admin"
              >here</v-btn
            >
          </span>
          and await feedback from us...</span
        >
      </v-row>
    </template>
    <template v-else-if="user.verificationStatus === 'Denied'">
      <v-row align="center" justify="center">
        <span class="grey--text display-1 emptySpace"
          >Unfortunately, we've determined that you are not authorized to
          represent an emergency unit on our platform. Your request was
          rejected!</span
        >
      </v-row>
    </template>
    <template v-else>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="5">
          <v-row no-gutters>
            <v-col cols="12">
              <v-card class="py-5">
                <p class="headline text-center">Received alerts</p>
                <div class="text-center">
                  <span
                    class="primary--text display-3 text-center font-weight-bold"
                    >{{ statAlerts.length }}</span
                  >
                </div>
              </v-card>
            </v-col>
            <v-col cols="12">
              <div class="text-center py-6">
                <span class="headline">Alerts</span>
              </div>
              <div class="responsive-viva">
                <canvas id="donutChart" height="300" width="400"></canvas>
              </div>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" sm="7">
          <v-card class="map-holder">
            <div class="text-center py-6">
              <span class="headline">Locations</span>
            </div>
            <div class="map">
              <div class="googleMap" id="lotNavigationMap"></div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </template>
  </div>
</template>
<script>
import Chart from "chart.js";
import Overlay from "@/components/Overlay.vue";
export default {
  name: "statistics",
  data() {
    return {
      joinTable: null,
      chartData: {
        type: "doughnut",
        options: chartOptions
      }
    };
  },
  async created() {
    await this.$store.dispatch(
      "fetchLoggedInAdmin",
      localStorage.getItem("role")
    );
    if (this.user.verified) {
      await this.$store.dispatch("FetchEmergencyPlaceDetails", {
        tag: localStorage.getItem("role")
      });
    }
  },
  async mounted() {
    this.joinTable =
      localStorage.getItem("role") === "PoliceAdmin"
        ? "PoliceCrash"
        : "HospitalCrash";
    if (this.user.verificationStatus === "Approved") {
      await this.$store.dispatch("FetchAlerts", {
        tag: localStorage.getItem("role")
      });
      this.createChart("donutChart", this.chartData);
      this.showNavigationMap(this.statAlerts);
    }
  },
  computed: {
    statAlerts() {
      return this.$store.state.statAlerts;
    },
    rejectedAlerts() {
      return this.$store.getters.rejectedAlerts;
    },
    acceptedAlerts() {
      return this.$store.getters.acceptedAlerts;
    },
    ignoredAlerts() {
      return this.$store.getters.ignoredAlerts;
    },
    user() {
      return this.$store.state.user;
    }
  },
  methods: {
    createChart(chartId, chartData) {
      const ctx = document.getElementById(chartId);
      new Chart(ctx, {
        type: chartData.type,
        data: {
          datasets: [
            {
              label: "Crashes",
              data: [
                this.acceptedAlerts.length,
                this.rejectedAlerts.length,
                this.ignoredAlerts.length
              ],
              backgroundColor: ["#4caf50", "#ff5252", "#c8c8c8"],
              borderWidth: [0, 0, 0, 0]
            }
          ],
          labels: ["Accepted", "Rejected", "Viewed"]
        },
        options: chartData.options
      });
    },
    showNavigationMap(alerts) {
      let mapDiv = document.getElementById("lotNavigationMap");
      let options = {
        center: new window.google.maps.LatLng(
          alerts[0].crashLatitude,
          alerts[0].crashLongitude
        ),
        zoom: 15,
        controlSize: 35,
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        zoomControlOptions: {
          position: window.google.maps.ControlPosition.RIGHT_CENTER
        }
      };
      let map = new window.google.maps.Map(mapDiv, options);
      for (let alert of alerts) {
        let marker = new window.google.maps.Marker({
          position: new window.google.maps.LatLng(
            alert.crashLatitude,
            alert.crashLongitude
          ),
          map: map
        });
        let infoWindow = new window.google.maps.InfoWindow({
          content: `<strong><em>${alert[this.joinTable].status}</em></strong>`
        });
        infoWindow.open(map, marker);
      }
      let geocoder = new window.google.maps.Geocoder();
      this.reverseGeocode(geocoder);
      return map;
    },
    reverseGeocode(geocoder) {
      let latlng = {
        lat: 0.3384,
        lng: 32.5869
      };
      geocoder.geocode({ location: latlng }, (results, status) => {
        if (status != "OK") {
          console.log("Geocode failed due to : " + status);
        }
      });
    }
  },
  components: {
    Overlay
  }
};
const chartOptions = {
  maintainAspectRatio: false,
  legend: {
    position: "bottom",
    labels: {
      fontColor: "black",
      fontSize: 15
    }
  },
  cutoutPercentage: 70
};
</script>

<style>
.responsive-viva {
  position: relative;
}
#lotNavigationMap,
.map {
  width: 48.5rem;
  height: 27rem;
}
.map-holder {
  overflow: hidden !important;
}
.emptySpace {
  margin-top: 30vh;
}
</style>
