<template>
  <v-app>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App"
};
</script>

<style lang="scss">
body,
* {
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 100%;
}
</style>
